.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tic-tac-toe {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    cursor: pointer;
    position: relative;
    height: 500px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}